<div id="<%= dom_id cart %>">
  <p>
    <strong>User:</strong>
    <%= cart.user_id %>
  </p>

  <p>
    <strong>Checked out at:</strong>
    <%= cart.checked_out_at %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= cart.uuid %>
  </p>

</div>
